services:

  api:
    image: ffio_inventory
    ports:
      - 5000:5000
    env_file:
      - prod.env
    environment:
      FLASK_APP: ffio_inventory.api.__main__:app
    volumes:
      - uploads_folder:/mnt/ffio_uploads
    command: 'flask run --host=0.0.0.0'

  worker:
    image: ffio_inventory
    env_file:
      - prod.env
    volumes:
      - uploads_folder:/mnt/ffio_uploads
    command: 'celery -A ffio_inventory.worker.app worker -l INFO'

  db:
    image: postgres:13.6
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: masterkey
    volumes:
      - pgdata:/var/lib/postgresql/data

  broker:
    image: redis:6.2.6
    ports:
      - 6379:6379

volumes:
  pgdata:
  uploads_folder:
